[submodule "addons/boundary"]
	path = addons/boundary
	url = https://github.com/edtireli/p-brain-boundary
[submodule "addons/screenshot"]
	path = addons/screenshot
	url = https://github.com/edtireli/p-brain-screenshot
[submodule "addons/seg2roi"]
	path = addons/seg2roi
	url = https://github.com/edtireli/p-brain-seg2roi
